html{
    background-color: rgb(43, 41, 41);
}

h1 {
    border: 5px solid rgb(82, 81, 81);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(236, 233, 233);
}
h2 {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

textarea {
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 80%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 120px;
    transition: all .2s ease;
}

button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #4299e1;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 26px;
    width: 100px;
}

.log {
    border: 3px solid grey;
    box-sizing: border-box;
    padding: 5px 5px;
    font-size: 20px;
    
}

.logInput{
    place-items:  center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fit);
    justify-content: center;
    align-items: center;
    
}

.button{
    grid-gap: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs{
    grid-gap: .1rem;
    display: flex;
}

.Search {
	display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
}

.Search input {
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
}

.Search input:focus {
	outline: none;
}

.tab{

    cursor: pointer;
    padding:3px 3px;
    margin:0px 2px;
    background:gray;
    display:inline-block;
    color:#fff;
    border-radius:1px 31x 0px 0px;
    box-shadow: 0 0.2rem 0.2rem #00000080;
  }

.add{
    cursor: pointer;
    padding:1px 3px;
    margin:0px 2px;
    background:green;
    display:inline-block;
    color:rgb(255, 255, 255);
    border-radius:1px 31x 0px 0px;
    box-shadow: 0 0.2rem 0.2rem #00000080;
}

.list{
    padding:3px 5px;
}

.filterSettings{
    display: flex;
    background-color: rgba(189, 185, 185, 0.671);
}


