.allFilterOptionFlex {
    display:flex;
    background-color: #1b1a1a;
    align-items: center;
    justify-content:space-between;
}

.trackbuttons{
    display:flex;
    flex-direction:row;
}
.trackbutton{
    border: double #000000;
    width:100%;
    background-color: #2d99d8;

}


.filterSettings{
    display:flex;
    flex-direction:column;
    background-color: #474545;

}
.filterSettingsLeft{
    display:flex;
    flex-direction:column;
}

.filterSettingsRi{
    display:flex;
    flex-direction:column;
}



.listOfFilters{
    width: 98%;

}

.importantLabel{
    display: block;
    text-align: center;
    line-height: 110%;
    font-size: 14px;
    font-weight: 520;
    color: white;
    padding: 3px 5px;
    min-width: 67px;

}

button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #fafafa;
    border-radius: 4px;
    padding: 5px 5px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 15px;
    width: fit-content;
}
.settingButtons{
    border: double;
    width:100%
}
.log {
    border: 3px solid rgb(99, 97, 97);
    box-sizing: border-box;
    padding: 5px 5px;
    font-size: 20px;   
    display: inline-block;
    background-color: #5a5959;
    color:white;
}
.logentry {
    border: 3px solid rgb(2, 2, 2);
    box-sizing: border-box;
    padding: 5px 5px;
    font-size: 20px;   
    background-color: #414141;
    color:white;


}

.deleteButton {
    float: right;
    background-color: #ee3535;
}

.list{
    position: relative;
    max-width: 110px;
    
}

.FilterBlocks{
    overflow: scroll;
    height: 100px;
    width: 63%;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.FilterList{
    overflow: scroll;
    height: 71vh;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.logFileEntries {
    background-color: #272727;
}

h2{
    color:#ffffff ;
    background-color: #000000;
}

.logFileEntriesheader{
    display: flex;
    background-color: #000000;
    flex-shrink: 0;
}

.sort{
    flex-shrink: 2;
}


.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(53px);
    -ms-transform: translateX(53px);
    transform: translateX(53px);
  }